<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="">
        <input type="text" id="txtName" placeholder="Họ tên">
        <input type="text" id="txtPhone" placeholder="Số điện thoại">
        <input type="text" id="txtEmail" placeholder="Email">
        <input type="button" id="btnRegister" value="Gửi">
    </div>
    <div id="list-register">
        <h3>Danh sách đăng ký</h3>
        <div id="load-list"></div>
    </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
<script src="https://chat_realtime-1-g4875677.deta.app/js/jquery-3.6.4.min.js"></script>
<script src="https://chat_realtime-1-g4875677.deta.app/js/main.js"></script>

</html>